[submodule "sources_non_forked/neocomplete.vim"]
	path = sources_non_forked/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "sources_non_forked/dracula-theme"]
	path = sources_non_forked/dracula-theme
	url = git@github.com:dracula/vim.git
